@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 2400px;
}

/* Header og global-navigasjon */

header {
  background: rgba(109, 109, 109, 0.671);
  height: 10vh;
}

/* .logo {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    grid-area: logo;

} */

.headerTekst {
  color: #200f00;
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: auto;
  font-size: 1rem;
}

.navigation {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  background: rgba(230, 230, 230, 0.671);
  margin: 0px;
}

nav ul {
  list-style: none;
  padding: 0%;
}

nav ul li {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  border: 1px solid rgba(77, 77, 77, 0.185);
  border-radius: 3px;
  padding: 5px;
  letter-spacing: 0.1rem;
}

/*  */

/* Selve artikkelområdet */

.article1 {
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
}

/* Artikkeloverskrift */

.articleTitle {
  color: #bf5c00;
  font-family: "Noto Serif Georgian", serif;
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 2rem auto 0.5rem;
}
/* Liten bit tekst under title, f.eks hvem som har tatt bilder osv*/
.articleUnderTitle {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif Georgian", serif;
  color: gray;
  font-size: small;
}

/* Teksten under overskriften */

.articleIntro {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 94%;
  max-width: 30rem;
  margin: 2rem auto;
}

.articleIntro p {
  align-items: center;
  width: 94%;
  max-width: 30rem;
  margin: 2rem auto;
  font-size: 20px;
  font-style: italic;
  color: gray;
  text-align: center;
}

/* Skriftlig innhold i artikkelen */

.articleContent {
  font-family: "Roboto", sans-serif;
  width: 94%;
  max-width: 30rem;
  margin: 2rem auto;
  font-size: 1rem;
}

.articleContent h3 {
  text-align: center;
}

/* Parallax-effekt, innlevering 1 */

/* .parallax {
    width: 90%;
    margin: 2rem auto;
    padding: 5rem 0 5rem 0;
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

} */

.textBox1, .textBox2, .textBox3{
    background: rgba(255, 253, 253, 0.89);
    padding: 2rem;
    margin: 30vh auto;
    color: black;
    max-width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

}

.textBox3 {
  font-size: 1.5rem;
}

a {
  color: black;
}

.parallax1 {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373b44;
  background-image: url("../images/IMG_0789.png");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.parallax2 {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373b44;
  background-image: url("../images/IMG_0788.png");
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.parallax3 {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373b44;
  background-image: url("../images/IMG_0786.png");
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*  */

footer {
  background-color: rgba(0, 0, 0, 0.37);
  margin: 0px;
  padding: 5rem 0 5rem 0;
}

footer h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* PC-modus */

@media screen and (min-width: 1000px) {
  .navigation ul li {
    width: 94%;
    max-width: 30rem;
    margin: 2rem auto;
    font-size: 0.8rem;
  }

  .articleTitle {
    color: #bf5c00;
    font-family: "Noto Serif Georgian", serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
  }

  .textBox1,
  .textBox2,
  .textBox3,
  .textBox4 {
    padding: 0.5rem;
    margin: 50vh auto;
    max-width: 40%;
  }

  nav ul li {
    display: inline;
    padding-right: 20px;
  }
}
