@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 2400px;

}

/* Header og global-navigasjon */

.headerGrid {
    display: grid;
    grid-template-areas: 
        "logo logo text"
    ;

}

.logo {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    grid-area: logo;

}

.headerTekst {
    color: #200F00;
    border: 1px solid black;
    font-family: 'Kanit', sans-serif;
    grid-area: text;

}

.navigation {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;

}

nav ul {
    list-style: none;
    padding: 0%;

}

nav ul li {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

}

nav ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid rgba(77, 77, 77, 0.185);
    border-radius: 3px;
    padding: 5px;
    letter-spacing: 0.1rem;

}

/*  */

/* Selve artikkelområdet */

.article {
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "title title title"
        "intro intro intro"
        "text text text"
        "text text text"
    ;

}

/* Artikkeloverskrift */

.articleTitle {
    color: #BF5C00;
    grid-area: title;
    font-family: 'Noto Serif Georgian', serif;
    display: flex;
    justify-content: center;
    font-size: 40px;

}

/* Teksten under overskriften */

.articleIntro {
    grid-area: intro;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(230, 34, 93);
    display: flex;

}

.articleIntro p {
    display: flex;
    align-items: center;
    width: 94%;
    max-width: 30rem;
    margin: 2rem auto;
    font-size: 0.8rem;

}

/* Skriftlig innhold i artikkelen */

.articleContent {
    grid-area: text;
    font-family: 'Roboto', sans-serif;
    border: 1px solid aqua;
    width: 94%;
    max-width: 30rem;
    margin: 2rem auto;
    font-size: 0.8rem;

}

/* Parallax-effekt, innlevering 1 */

.parallax{
    background-image: url(https://g.acdn.no/obscura/API/dynamic/r1/ece5/tr_2000_2000_s_f/0000/sarp/2022/9/13/12/graving.jpg?chk=454595);
    width: 90%;
    margin: 2rem auto;
    padding: 5rem 0 5rem 0;
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

.parallax p{
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    margin: 70vh auto;

}

/*  */

/* Stilsetting for bilder uten klasse -WIP */

.image {
/*     background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    width: 100%;
    height: 50%; */
    width: 100%;
    margin: 2rem auto;
    padding: 5rem 0 5rem 0;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/*  */

footer {
    background-color: black;
    margin: 2rem auto;
    padding: 5rem 0 5rem 0;

}

footer h3{
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

/* PC-modus */

@media screen and (min-width: 1000px) {
    .articleTitle {
        color: green;

    }

    nav ul li {
        display: inline;
        padding-right: 20px;
    
    }

}