@import "variables.scss";

.tengs {
    background-image: url("../images/tengs.png");
    background-color: rgba(63,72,84,1);
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;

}

.article4Area {
    background: rgb(16,18,22);
    background: linear-gradient(0deg, rgba(16,18,22,1) 0%, rgba(47,56,65,1) 50%, rgba(63,72,84,1) 100%);
    padding-bottom: 1rem;

    .articleContent {
        background-color: rgb(160, 160, 160);
        padding: 2rem;
        margin: 0 auto;

        p {
            color: rgb(255, 255, 255);
        }

        .article4Title {
            @include articleTitle;
            @include adobeFontErnestine;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            margin-top: 0px;
            padding: 3vh;
        }

        .articleUnderTitle {
            @include adobeFontErnestine;
            color: rgb(0, 0, 0);
        }

        .articleIntro {
            @include adobeFontErnestine;
            color: rgb(0, 0, 0);
        }

    }
}

@media screen and (min-width: 1000px) {
    
    .article4Area {
        
        .article4Content {
            background-color: rgb(160, 160, 160);
            padding: 2rem;
            margin-top: 0px;
        }
    }

    .tengs {
        padding: 20rem;
    }
}