@import "variables.scss";

.isbjorn {
    background-image: url("../images/Isbjorn.png");
    background-color: rgba(63,72,84,1);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    animation: fadeIn 5s;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.article5Area {
    background-color: white;

    .articleContent {
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        margin: 0 auto; 

        .article5Title {
            @include articleTitle;
            text-transform: uppercase;
            color: rgb(0, 0, 0);
            margin-top: 0px;
            padding: 2vh;
        }
    }
}

.articleContentTest {
    @include articleContent;
    border: 1px solid red;
    display: flex;
    width: 100%;
    float: left;
}

.parallax4 {
    @include parallax;
    background-image: url("../images/levendeKorall.jpg");
    
    .textBox {
        @include textboxes;
        max-width: 60%;
    }
}

.parallax5 {
    @include parallax;
    background-image: url("../images/dodKorall.jpg");

    .textBox {
        @include textboxes;
        max-width: 60%;
        
    }
}

.geoImage {
    max-width: 100%;
    margin: 0px auto;
}

.aContent1 {
    border: 1px solid black;
}

@media screen and (min-width: 1000px) {
    
    .article5Area {
        
        .article5Content {
            background-color: rgb(160, 160, 160);
            padding: 2rem;
            margin-top: 0px;
        }
    }

    .isbjorn {
        padding: 20rem;
    }
}