@import "variables.scss";
@import "homePage.scss";
@import "article1.scss";
@import "article2.scss";
@import "article3.scss";
@import "article4.scss";
@import "article5.scss";
@import "_modal.scss";

* {
  @include defaultValues;
}

/*Nav*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Header og global-navigasjon */

header {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
}

.headerTekst {
  @include adobeFontUtopian;
  color: #200f00;
  display: flex;
  padding: 1rem;
  margin: auto;
  font-size: 1.5rem;

  a {
    text-decoration: none;
  }
}

.navigation {
  font-family: $defaultFont;
  display: flex;
  padding: 1rem;
  margin: 0px;
  border-bottom: 1px solid black;
}

nav {
  ul {
    list-style: none;
    padding: 0%;
  }

  li {
    padding-bottom: 20px;
    display: flex;
  }

  a {
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: 5px;
    letter-spacing: 0.1rem;
  }
}

/*  */

/* Selve artikkelområdet */

.articleTitle {
  color: #000000;
  @include adobeFontOskarTL;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

/* Liten bit tekst under title, f.eks hvem som har tatt bilder osv*/
.articleUnderTitle {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif Georgian", serif;
  color: gray;
  font-size: small;
}

/* Teksten under overskriften */

.articleIntro {
  font-family: $defaultFont;
  display: flex;
  color: #6c7883;
  width: 94%;
  max-width: 30rem;
  margin: 2rem auto;

  p {
    width: 94%;
    max-width: 30rem;
    margin: 2rem auto;
    font-size: 20px;
    color: gray;
  }
}

/* Skriftlig innhold i artikkelen */

.articleContent {
  @include articleContent;
}

p {
  line-height: 2;
}

.questionText {
  font-style: italic;
  font-weight: bold;
  padding-top: 1rem;
}

.quote {
  font-style: italic;
}

.linkIcon {
  margin: 0 5px 0px 5px;
  font-size: x-small;
}

footer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(221, 221, 221, 1) 50%,
    rgba(149, 149, 149, 1) 100%
  );
  margin: 0 auto;
  padding: 3rem 0 1rem 0;
  text-transform: uppercase;
  display: grid;
  grid-template-areas: " text .  . button";

  h3 {
    font-family: $defaultFont;
    font-weight: normal;
    font-size: small;
    display: flex;
    justify-content: baseline;
    padding: 1rem;
    grid-area: text;
  }

  .upButton {
    border: none;
    background-color: transparent;
    font-family: $defaultFont;
    font-size: xx-large;
    grid-area: button;
    display: inline;

    .upButtonText {
      font-size: small;
      margin: 0 auto;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }
}

.image {
  width: 30rem;
  height: 30rem;
}

figure {
  display: flex;
  flex-wrap: wrap;
  width: 38%;
  float: right;
}

.portrait {
  width: 100%;
  float: right;
  margin: 0 0 0 0.5rem;
}

figcaption {
  color: gray;
  font-size: xx-small;
  padding-top: 5px;

  a {
    color: gray;
  }
}

/* PC-modus */

@media screen and (min-width: 1000px) {
  .headerTekst {
    @include adobeFontUtopian;
    font-size: 3rem;
    color: #000000;
  }

  .portrait {
    width: 100%;
    float: right;
    margin: 0 0 0 0.5rem;
  }

  .articleTitle {
    color: #000000;
    @include adobeFontOskarTL;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    font-size: 40px;
  }

  .articleContent,
  .articleIntro {
    font-family: $defaultFont;
    width: 100%;
    max-width: 60rem;
    margin: 2rem auto;
    font-size: 1rem;
  }
}
