@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url("https://use.typekit.net/dwu3cwm.css");

$defaultFont: "Roboto", sans-serif;
$headerfont: 'Montserrat Subrayada', sans-serif;

@mixin adobeFontErnestine {
    font-family: ff-ernestine-pro, serif;
    font-weight: 400;
    font-style: normal;
}

@mixin adobeFontOskarTL {
    font-family: oskar,sans-serif;
    font-weight: 200;
    font-style: normal;
}

@mixin adobeFontUtopian {
    font-family: utopian, sans-serif;
    font-weight: 100;
    font-style: normal;
}

@mixin adobeFontDidoni {
    font-family: didoni-urw, serif;
    font-weight: 400;
    font-style: normal;
}

@mixin adobeFontBroadacre {
    font-family: broadacre-thin-3,sans-serif;
    font-weight: 100;
    font-style: normal;
}


@mixin defaultValues {
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 2400px;
}

@mixin articleTitle {
    color: #d1bab4;
    font-family: $defaultFont;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 2rem auto 0.5rem;
}

@mixin parallax {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373b44;
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@mixin textboxes {
    background: rgba(255, 253, 253, 0.89);
    padding: 2rem;
    margin: 30vh auto;
    color: black;
    max-width: 90%;
    font-family: $defaultFont;
    font-size: 1rem;
    
}